*{
  margin: 0;
  padding: 0;
}

body{
  background-color: none;
  background-size: cover;
  background-image: url(Image/image1.jpg);
}


nav{
  text-align: center;
  background-color: blanchedalmond;
  padding-top: 10px
  padding-bottom:10px;
}

p{
  text-decoration color: blue;
  text-align: initial;
  flood-color: red;
  text-decoration: none;
  font-display:bold;
}

footer{
  position:bottom;
  text-align: center;
  background-color: blue;
  padding-top: 10px;
 padding-bottom: 10px;

}
h1{
  text-decoration: bold;
  text-align: center;
  font-family: cursive;
}

h2{
  text-align: center;
  text-decoration: bold;
  font-family: cursive;
}
h3{
  padding: 20px80px70px; 
  text-align: center;
  text-decoration: bold;
  font-family:cursive;
  font-size: 40px;
}